/* pc.css */

body{
    background: #FFFFFF;
    font-size: 18px;
  }

  #login img{
    width: 30px;
    height: 30px;
  }
   
  /* 모바일 전용 콘텐츠 비표시 */
  .mobile-only {
    display: none;
  }
  
  .container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px solid #ccc; */
  }

  #main-header {
    width: 100%;
    background: #5B1333;
    min-width: 1120px;
    top: 0;
    left: 0;
    position: fixed;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  #gnb > ul {
    display: flex;
  }

  #gnb > ul > li >a {
    color: #FFFFFF;
    width: 140px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
  }
  #gnb > ul > li > a:hover{
    width: 140px;
    height: 45px;
    color: #5B1333;
    text-align: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 3px rgba(60, 13, 34, 0.7);
    border-radius: 10px;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.2,-2,0.8,2);
    transform-origin: center;
  }
  #gnb > ul > li > a:focus {
    width: 140px;
    height: 45px;
    color: #5B1333;
    text-align: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 3px rgba(60, 13, 34, 0.7);
    border-radius: 10px;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.2,-2,0.8,2);
    transform-origin: center;
    /* transform: rotate(10deg); */
  }


  .right-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      /* outline:2px solid red; */
  }
#login {
    margin: 0px 25px;
}
    /* swiper slider */
.swiper {
    width: 100%;
    height: calc(100vh - 80px);
    /* background: #ccc; */
  }
  .swiper .swiper-slide.s1{
    background-image: url(../images/main-visual.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .swiper .swiper-slide.s2{
    background-image: url(../images/main-visual_2.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper .swiper-slide .title {
      padding: 10px;
      position: absolute;
      left: 110px;
      top: 210px;
      background: rgba(246, 164, 166, 0.7);
      border-radius: 20px;
    }
    .swiper .swiper-slide .title2 {
    padding: 10px;
    position: absolute;
    left: 110px;
    top: 210px;
    background: rgba(244, 244, 242, 0.5);
    border-radius: 20px;
  }

  .swiper-button-prev,.swiper-button-next {
      color: #5B1333;
  }
    
    .swiper-pagination-bullet {
    border-radius: 0;
    border: 1px solid #5B1333;
    width: 150px;
    height: 8px;
    background-color: transparent;
    opacity: 1;
    margin: 0 !important;
  }
  
  .swiper-pagination-bullet-active {
    background: #5B1333;
    opacity: 1;
  }
  
  .swiper-pagination {
    bottom: 50px !important;
  }

  .sitemap-modal {
      display: none;
  }
  
  .sitemap-modal.on {
      width: 100%;
      height: 300px;
      z-index: 99;
      position: fixed;
      top: 80px;
      background: #F8F7F2;
      display:flex;
      justify-content: space-between;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .blank{
    z-index: 99;
    width: 175px;
    }

.blank2 {
  display: block;
  width: 115px;
}
    
.sitemap-modal > ul {
  display:flex;
  width: 720px;
  padding-top: 20px;
}
    
.sitemap-modal > ul > li  a {
  color: #5B1333;
  /* outline: 1px solid red; */
  display: inline-block;
  padding-bottom: 10px;
  width: 140px;
  line-height: 45px;
  text-align: center;
}

.sitemap-modal > ul > li  a:hover {
  color: #BDAB15;
}

/* 컨텐츠 부분 */

#contants-1,#contants-2{
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}
#contants1> h2{
  font-size: 36px;
  margin-top: 100px;
  margin-bottom: 50px;
}
#contants1 ul{
  display: flex;
  justify-content: space-between;
}
#what-new a{
  color: #000;
}
#what-new p{
  font-size: 20px;
  margin-top: 20px;
}
#contants2{
  margin-bottom: 100px;
}
#contants2> h2{
  font-size: 36px;
  margin-top: 150px;
  margin-bottom: 50px;
}
#contants2 ul{
  display: flex;
  justify-content: space-between;
}
#pick a{
  color: #000;
}
#pick p{
  font-size: 20px;
  margin-top: 20px;
}



#content2 {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  margin-top: 170px;
  margin-bottom: 170px;
}

#content2 h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

#content2 p {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 45px;
}

#content2 .store {
  width: 421px;
  height: 420px;
  background: #F8F7F2;
  padding: 50px;
}

#content2 .franchise {
  width: 421px;
  height: 420px;
  background: #8A546C;
  padding: 50px;
  color: #fff;
}

#content2 .notice {
  width: 600px;
  height: 420px;
  background: #F8F7F2;
  padding: 50px;
}

#search {
  width: 230px;
  height: 45px;
  font-size: 18px;
  border:1px solid #8A546C;
}

#search-btn {
  width: 73px;
  height: 45px;
  background: #8A546C;
  color: #fff;
  cursor: pointer;
}

.franchise .ask-btn {
  width: 305px;
  height: 45px;
  font-size: 18px;
  background: #fff;
  border:1px solid #8A546C;
  margin-top: 40px;
  cursor: pointer;
  color: #8A546C;
  border-radius: 10px;
}

.notice-text > ul {
  margin-top: 20px;
}

.notice-text > ul > li {
  margin-bottom: 17px;
  font-size: 18px;
}

.notice-text > ul > li > a  {
  color: #000;
  font-size: 18px;
}

.notice-text {
  display: flex;
  justify-content: space-between;
}

/* menu-about */
#menu-about {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 460px;
  background-image: url(../images/menu-about.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#menu-about h1 {
  font-size: 48px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#menu-about p {
  font-size: 24px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  margin-bottom: 40px;
}

#menu-about .menu-about-btn {
  width: 300px;
  height: 50px;
  background: rgba(255, 255, 255, 0.77);
  font-size: 18px;
  border:1px solid #fff;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
}
/* 여기까지 컨텐츠 */





/* footer */
#main-footer {
  width: 100%;
  background: #5B1333;
}

.footer-info {
  width: 1440px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

.footer-text {
  margin-left: 40px;
}

.footer-text p {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 32px;
  line-height: 30px;
}

.footer-text > p > span {
  font-size: 12px;
  color: #ccc;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-text2 {
  position: absolute;
  left: 763px;
  top: 50px;
}

.footer-text2 > p {
  margin-bottom: 20px;
}

.footer-text2 > p > a {
  color: #fff;
  font-size: 18px;
}

.sns-group {
  position: absolute;
  right: 20px;
  top: 50px;
}

.sns-group a img {
  margin-left: 30px;
}

.top-btn {
  background: transparent;
  position: absolute;
  right: 20px;
  bottom: 15px;
  cursor: pointer;
}

.copy {
  font-size: 12px;
  color: #fff;
  margin-left: 40px;
  margin-top: 15px;
  padding-bottom: 60px;
}



/*sub page03*/
.main {
  margin-top: 80px;
}

#top-img{
  margin-top: 80px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 265px;
  background-image: url(../images/event-img.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-img h2{
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.tab-group {
  width: 1440px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
  
.tab-group a {
  width: 100%;
  background: #F8F7F2;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tab-group a:hover {
  background: #8A546C;
  color: #fff;
  transition: all 0.4s ease;
}

.tab-group > a.on {
  background: #8A546C;
  color: #fff;
}


#notice-event{
  text-align: center;
  margin: 0 auto;
  padding-top: 114px;
  display: none;
}
#notice-event.on{
  display: block;
}

#notice-event h2{
  margin-bottom:65px;
}
#division{
  width: 100px;
  height: 30px;
}
.search-text{
  width: 580px;
  height: 30px;
  margin-left: 40px;
}
#notice-search{
  width: 150px;
  height: 30px;
  margin-left: 40px;
  color: #fff;
  background-color: #5B1333;
}
.pad{
  padding-bottom: 118px;
  width: 1440px;
  margin: 0 auto;
}
#notice{
  width: 1202px;
  height: 800px;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  border-collapse: collapse;
}
#notice-table{
text-align: center;
}
.top-table{
  background-color: #8A546C;
  color: #fff;
  text-align: center;
}
.top-table .notice-date{
  padding-right: 50px;
  text-align: center;
}
table th,td{
  padding-bottom: 20px;
  padding-top: 20px;
}
table th,td:first-child{
  padding: 20px
}
.notice-num{
  padding-left: 40px;
}
.notice-title{
  text-align: center;
  padding-left: 475px;
  padding-right: 475px;
}
.page-num{
  padding-top: 40px;
  padding-bottom: 292px;

}
.page-num img{
  position: relative;
  top: 10px;
  padding-left: 75px;
  padding-right: 75px;
}
#win-now h2{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 850px;
}
#win-now{
  display: none;
}
#win-now.on{
  display: block;
}