/* sub2.css */

/* pc.css */

body{
    background: #FFFFFF;
    font-size: 18px;
  }

  #login img{
    width: 30px;
    height: 30px;
  }
   
  /* 모바일 전용 콘텐츠 비표시 */
  .mobile-only {
    display: none;
  }
  
  .container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px solid #ccc; */
  }

  #main-header {
    width: 100%;
    background: #5B1333;
    min-width: 1120px;
    position: fixed;
    height: 80px;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  #gnb > ul {
    display: flex;
  }

  #gnb > ul > li >a {
    color: #FFFFFF;
    width: 140px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
  }

  #gnb > ul > li > a:hover{
    width: 140px;
    height: 45px;
    color: #5B1333;
    text-align: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 3px rgba(60, 13, 34, 0.7);
    border-radius: 10px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.2,-2,0.8,2);
    transform-origin: center;
  }
  #gnb > ul > li > a:focus {
    width: 140px;
    height: 45px;
    color: #5B1333;
    text-align: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 3px rgba(60, 13, 34, 0.7);
    border-radius: 10px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.2,-2,0.8,2);
    transform-origin: center;
    /* transform: rotate(10deg); */
  }

  .right-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      /* outline:2px solid red; */
  }
#login {
    margin: 0px 25px;
}

  .sitemap-modal {
      display: none;
  }
  
  .sitemap-modal.on {
      width: 100%;
      height: 300px;
      z-index: 99;
      position: fixed;
      top: 80px;
      background: #F8F7F2;
      display:flex;
      justify-content: space-between;
    }
    
    .blank{
    z-index: 99;
    width: 175px;
    }

.blank2 {
  display: block;
  width: 115px;
}
    
.sitemap-modal > ul {
  display:flex;
  width: 720px;
  padding-top: 20px;
}
    
.sitemap-modal > ul > li  a {
  color: #5B1333;
  /* outline: 1px solid red; */
  display: inline-block;
  padding-bottom: 10px;
  width: 140px;
  line-height: 45px;
  text-align: center;
}

.sitemap-modal > ul > li  a:hover {
  color: #BDAB15;
}

/* 컨텐츠 부분 */

/* main */
main {
  margin-top: 80px;
}

.menu-visual {
  width: 100%;
  height: 265px;
  background-image: url(../images/menu.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-visual > h1 {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
  }

  .tab-group {
    width: 1440px;
    height: 50px;
    margin: 0 auto;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
  }

  .tab-group a {
    width: 480px;
    height: 55px;
    background: #F8F7F2;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .tab-group a:hover {
    background: #8A546C;
    color: #fff;
    transition: all 0.4s ease;
  }
  
  .tab-group > a.on {
    background: #8A546C;
    color: #fff;
  }

  /* coffee menu */

#contants{
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 276px;
  }
  #contants1> h2{
    font-size: 36px;
    margin-top: 130px;
  }

  #contants1>img {
      padding-right: 80px;
      margin-bottom: 110px;
      margin-top: -17px;
  }

  #contants1 ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
  }

  .coffee >li{
    margin: 0.7%;
       
  }
  .coffee a{
    color: #000;
  }
  .coffee p{
    font-size: 20px;
    margin-top: 20px;
  }
  .menu-visual2 {
    width: 1440px;
    margin: 0 auto;
    text-align: center;

  }
  .menu-visual2 > h2 {
    font-size: 36px;
    margin-top: 132px;
}

.menu-visual2 > h2 > img {
    display: inline-block;
   padding: 10px;
   padding-right: 48px;
   padding-left: 48px;
}

.menu-visual2 > p{
    font-size: 20px;
    margin-top: 13px;
    margin-bottom: 110px;
  }


  /* 스와이퍼 */
  .swiper-container {
	height:500px;
    width: 1440px;
}
.swiper-slide {
    background-color: #8A546C;
	text-align:center;
	display:flex; 
	align-items:center; 
	justify-content:center; 
}
.swiper-slide img {
	max-width:100%;
}

.swiper-button-prev,.swiper-button-next {
      color: #5B1333;
  }

  .swiper-pagination-bullet {
    border-radius: 0;
    border: 1px solid #5B1333;
    width: 150px;
    height: 8px;
    background-color: transparent;
    opacity: 1;
    margin: 0 !important;
  }
  
  .swiper-pagination-bullet-active {
    background: #5B1333;
    opacity: 1;
  }


  

/* footer */
#main-footer {
    width: 100%;
    background: #5B1333;
  }
  
  .footer-info {
    width: 1440px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
  }
  
  .footer-text {
    margin-left: 40px;
  }
  
  .footer-text p {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 32px;
    line-height: 30px;
  }
  
  .footer-text > p > span {
    font-size: 12px;
    color: #ccc;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .footer-text2 {
    position: absolute;
    left: 763px;
    top: 50px;
  }
  
  .footer-text2 > p {
    margin-bottom: 20px;
  }
  
  .footer-text2 > p > a {
    color: #fff;
    font-size: 18px;
  }
  
  .sns-group {
    position: absolute;
    right: 20px;
    top: 50px;
  }
  
  .sns-group a img {
    margin-left: 30px;
  }
  
  .top-btn {
    background: transparent;
    position: absolute;
    right: 20px;
    bottom: 15px;
    cursor: pointer;
  }
  
  .copy {
    font-size: 12px;
    color: #fff;
    margin-left: 40px;
    margin-top: 15px;
    padding-bottom: 60px;
  }